:root {
	--content-height: 400px;
	--content-width: 600px;
	--halloween-black: rgba(0, 0, 0, 1);
	--halloween-black-faded: rgba(0, 0, 0, 0.5);
	--halloween-gray: rgba(51, 51, 51, 1);
	--halloween-gray-faded: rgba(51, 51, 51, 0.5);
	--halloween-orange: rgba(255, 128, 0, 1);
	--halloween-orange-faded: rgba(255, 128, 0, 0.5);
	--halloween-white: rgba(255, 255, 255, 1);
	--halloween-yellow: rgba(255, 255, 0, 1);
	--spacing: 1rem;
}
